<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ "styles.css" | relURL }}" />
</head>
<body>
  <header>
    <h1><a href="{{ "/" | relURL }}">Makonnen</a></h1>
    <nav>
      <a href="{{ "writings" | relURL }}">Writings</a>
      <a href="{{ "projects" | relURL }}">Projects</a>
    </nav>
  </header>
  <div class="content-box">
    {{ block "main" . }}
    {{ end }}
  </div>
</body>
</html>
